<body>
  <img class="wave" src="../../../assets/wave.png" />
  <div class="login-wrapper">
    <div class="img">
      <img src="../../../assets/bg.svg" />
    </div>
    <div class="login-content">
      <form (submit)="onRegister()" action="" class="form">
        <img src="../../../assets/avatar.svg" alt="" />
        <h2 class="title">Register</h2>
        <div class="input-group">
          <input
            type="text"
            id="name"
            [(ngModel)]="name"
            name="name"
            required
          />
          <label for="name">Name</label>
        </div>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="username"
            name="username"
            id="username"
            required
          />
          <label for="username">Username</label>
        </div>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="email"
            name="email"
            id="email"
            required
          />
          <label for="email">Email</label>
        </div>
        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="password"
            name="password"
            id="password"
            required
          />
          <label for="password">Password</label>
        </div>
        <input type="submit" class="btn" value="submit" />
      </form>
    </div>
  </div>
</body>
